html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
}

body > div {
  height: 100%;
}

.main-column {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 80% 1fr;
  height: 100%;
}
